@charset "UTF-8";


/**/ 
ul,ol,li { list-style-type:none;}

 * {
text-decoration:none;
}


/*footer_include*/
#footer{
	width:100%;  background-color:#F6F6F6; 
	font-size:12px;
	
}

#copyright{ 
	
 height:150px; padding:10px;
	text-align:center;
	
	    margin: auto;
	
}

 #copyright li{
	float:left; 
	
	
}
#copyright a{ }

#service{ width:1388px; height:30px;     text-align: center; }

#stay_pc{
	 height:30px; 
	  text-align: center;
}

#stya_pc li{padding: 0 6px;}

#cs_center{
	 height:30px; 
	     text-align: center;
}

#number{
	 height:30px; 
	    text-align: center;
}

#copy{
	 height:30px; 
	     text-align: center;
}


















