@charset "UTF-8";


/**/ 
ul,ol,li { list-style-type:none;}

 * {
text-decoration:none;
}


/*footer_include*/
#footer{
	width:100%;  background-color:#F6F6F6; 
	font-size:12px;
	
}

#copyright{ 
	
 height:150px; padding:10px;
	text-align:center;
	word-spacing: 0.5em;
	display:block;
	text-align:center;
	    margin: auto;
	
}

 #copyright li{
	float:left; 
	
}
#copyright a{ padding: 0 6px; display: block;}

#service{ width:1388px; height:30px; }

#stay_pc{
	 width:1388px; height:30px; 
}

#stya_pc li{padding: 0 6px;}

#cs_center{
	 width:1388px; height:30px; 
}

#number{
	; width:1388px; height:30px; 
}

#copy{
	 width:1388px; height:30px; 
}


















