@charset "UTF-8";

/* CSS Document */

/* CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, label {margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-family:inherit; vertical-align:baseline; color:#535353;}
html { overflow-y:scroll; background-color:#fff;}
body, table, input, select, textarea, button, a, p, div, span {font-family:'Noto Sans KR', snas-serif, NanumGothic, NanumBarungothic;}
td{font-family: 'Noto Sans KR', snas-serif,NanumGothic, NanumBarungothic;}

.wrap{}
.wrap div{width:100%; text-align:center; font-size:20px; font-weight:700; color:#fff;}

.top_bar_fix{position:fixed; top:0; left:0; width:100%;}
.pd_top_80{padding-top:80px;}

.wrap .top_bn_zone{height:150px; background:#ffffff; line-height:100px;}
.wrap .top_fix_zone{height:80px; background:black; line-height:80px;}
.wrap .top_con_zone{height:1500px; background:#ededed; color:#888; text-align:center; font-size:70px;}

.wrapper{
    width: auto;
    margin: 0 auto;
}
.menu{
    float: right;
    margin-right: 150px;
}
.menu li{
    float: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);

}
.menu a{
    color: #777;
    padding: 0 15px;
    display: block;
    text-decoration:none;
}
ul,ol,li { list-style-type:none;}