@charset "UTF-8";

/**/ 
ul,ol,li { list-style-type:none;}

 * {
text-decoration:none;
}

#fixNextTag{
	width:100%; height:400px; 
}

#box{
	margin:30px;
}

#id{
	
	  
	  letter-spacing:0.2em;
}

#password{

	  
	  letter-spacing:0.2em;
}


.login_input{	
	 margin-top:10px;
	 
}


.input_box{
	 margin-top:20px;
}