@charset "UTF-8";

/**/ 
ul,ol,li { list-style-type:none;}

 * {
text-decoration:none;
}

#fixNextTag{
	border: solid 1px #ff0000;  width:100%; height:400px; margin:200px  300px;
}

#box{
	margin:30px;
}

#id{
	border: solid 1px #c0c0c0;  
}

#password{
	border: solid 1px #c0c0c0;  
}