@charset "UTF-8";

a {
	color:#535353;
	text-decoration:none;
}


.notice_wrap{
	color:#535353;
	margin-top:30px;	
}

 .common_wrapper{
 width:1300px;
 height:auto;
 margin:0 auto;
 margin-top:30px; 
 margin-bottom : 200px; 
 }

.notice_table{	
	display:block;
	width:800px;
	padding-top:5px;
	padding-bottom:10px;
	color:#535353;
}

.notice_table tr{
	margin-top:20px;
}

.sidemenu {
	border : solid 1px;
	border-color : #b2b2b2;
	border-radius: 10px;
	width : 150px;
	height : auto;
	text-align : center;	
	padding-bottom : 40px;	
	float : left;
	margin-top:30px;	
}

.teble_box {
	width:800px;
	background-color:#ffffff;
}
