@charset "UTF-8";

/**/ 
ul,ol,li { list-style-type:none;}

 * {
text-decoration:none;
}


/* profile page */

#profilePage {
	margin-left : 300px;
	margin-top : 30px;	
}

#sidemenu {
	border : solid 1px;
	width : 150px;
	heigth : 300px;
	text-align : center;	
	padding-bottom : 40px;
	
}

#profileUpdate {
	border : solid 1px;	
	margin-left : 200px;
	width : 800px;
	height : 1100px;
	
}

#profileUpdate_header {
	border : solid 1px;
	padding : 20px;
}

#profileImg {
	
}


#profileImg label {	
	padding : 15px; 
	
}

#lastName {

}

#lastName label {
	padding : 15px;
}


#firstName {

}

#firstName label {
	padding : 15px;
}

#sex {

}

#sex label {
	padding : 15px;
}

#birthDate {

}

#birthDate label {
	padding : 15px;
}


#email {

}

#email label {
	padding : 15px;
}

#phone {

}

#phone label {
	padding : 15px;
}

#address {

}

#address label {
	padding : 15px;
}

#profileInfo {
	
}

#profileInfo label {	
	padding : 15px;
}

#creadit {
	
}

#creadit label {	
	padding : 15px;
}
