@charset "UTF-8";

/**/ 
ul,ol,li { list-style-type:none;}

 * {
text-decoration:none;
}

/*main*/

#main {
	width:100%;
}
#info{
	/*margin:100px;*/
}

#search{ height: 60px; width: 1000px; }


.hostlist_view{		
	width:100px;
	border:1px solid  #dddddd; 
	display:block;
	padding:10px;
	background-color:#dddddd;
}


/*section4 동영상/경기일정*/
#section4 {
	height:500px; width:1388px; margin:100px auto;
}


.common_wrapper{
 width:auto;
 height:auto;
 margin:0 auto;
 margin-top:30px; 
 margin-bottom : 200px;
 
 }


.main_section01 {
	margin-left : 33%;	
	width:800px;
}

