@charset "UTF-8";

/**/ 
ul,ol,li { list-style-type:none;}

 * {
text-decoration:none;
}

/*main*/

#main {
	width:100%;
}
#info{
	margin:100px 0px 14px 250px;
}

#search{ border: solid 1px #000000; height: 60px; width: 1000px; margin:20px 255px;}




.main_section02{
	
	
}
.section_wrap{

	
}




/*section4 동영상/경기일정*/
#section4 {
	height:500px; width:1388px; margin:100px 250px;
}








