@charset "UTF-8";

/* CSS Document */

/* CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
input, label {margin:0; padding:0; font-style:inherit; font-family:inherit; 
vertical-align:baseline; color:#535353;}
html { overflow-y:scroll; background-color:#fff;}
body, table, input, select, textarea, button, a, p, div, span {font-family:'Noto Sans KR', snas-serif, NanumGothic, NanumBarungothic;}
td{font-family: 'Noto Sans KR', snas-serif,NanumGothic, NanumBarungothic;}


/**/ 
ul,ol,li { list-style-type:none;}

 * {
text-decoration:none;
}

.accessTerms {
	width : 100%;
	margin-top:30px;
}

.common_wrapper {
	width:1300px;
	height:auto;
	margin:0 auto;
	margin-top:30px; 
	/*border:1px solid #ff0000;*/ 
 }


.sidemenu {
	border : solid 1px;
	border-color : #b2b2b2;
	border-radius: 10px;
	width : 150px;
	height : auto;
	text-align : center;	
	padding-bottom : 40px;	
	float : left;
	margin-top:30px;	
	background-color : #ffffff;
}

.content {		
	width : 850px;	
	padding-bottom : 35px;
	margin-left : 20%;
	margin-top : 30px;
}

.Tmenu {	
	margin-left : 20%;
	width:500px;	
}


.term1 {
	 float : left;
	 height : 100px;
	 
}

.term1 a {
	 display: inline;
	 text-align: center;	
	 color : rgb(242,17,76);
	 font-weight : bold;
}

.term2 {
	 float : left;
}

.term2 a {
	 display: inline;
	 text-align: center;
	 color : #868686;
}

.term3 {
	 float : left;
}

.term3 a {
	 display: inline;
	 text-align: center;
	 color : #868686;
}

.term4 {
	 float : left;
}

.term4 a {
	 display: inline;
	 text-align: center;
	 color : #868686;
}

.contentDetail {
	width : auto;
	height : auto;
	line-height : 20px;
} 

.acsTerms {
	width : auto;
	margin : 20px 0px;
	
}

#SPCTerms {
	font-size : 20px;	
	margin-left:-5%;	
	font-weight : bold;
	
}